
@mixin boton($ancho,$margin){
     width:$ancho;
     margin-top: $margin;
}


.form-contactoText {
    text-shadow: 3px 2px 10px  #3a0909;
    font-size: 25px;
    margin-bottom:5%;
}

.contacto-contenedor {
    color: $principal-color;
    display: flex;
    flex-direction: column;
    background-color: #64829B;
    box-shadow: rgb(20, 1, 8)  30px 15px 30px ;
    opacity: 0.8;
    margin: auto;
    width: 60vw;
    text-align: left;
    margin: 5%;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
}

.boton-borrar {
    @include boton(50%,5% );
}

.boton-enviar {
    @include boton(50%,10% );
    margin-left: 50%;
}
